<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>LR_21_Node.js</title>

    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>

    <div class="container">
      <div class="wrapper">
        {{{body}}}
      </div>
    </div>

    <script src="js/main.js"></script>
  </body>
</html>